body {
    font-family: sans-serif;
  }
  
  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
   



.journal__main-content {
    display: flex;
}

.profilePhoto {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 50px;
    img {
        border-radius: 100% ;
        width: 100%;
        }
}

.journal__name {
    width: 100%;
    margin-left: 20px;
}

.journal__sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;  
    box-shadow: 30px 20px 0px rgba(0, 0, 0, 0.555);

}

.journal__profile {
    display: flex;
}

.journal__logout{
    display: flex;
    padding-left: 0;
}

.journal__sidebar-navbar {
    display: flex;
    flex-direction: column;
}

.journal__sidebar-navbar h3 {
    font-weight: lighter;
}

.journal__new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-display: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 20px;
    padding: 10px;
    transition: color .3s ease;

        &:hover {
            color: darken($color: white, $amount: 20);
        }

}

.journal__entries {
    margin-top: 30px;
    flex: 1 1 auto;
    overflow-y: scroll

}

.journal__entry {
    background-color: rgb(248, 239, 239);
    border-radius: 4px;
    color: $dark-grey;
    display:grid;
    height: 30%;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    // align-items: stretch;

    
}

.journal__box-1{
  display: flex;
  align-items: center;
  background: rgba(240, 215, 215, 0.562);
  // max-width: 100%;
  
}

.journal__box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal__box-3 {
  display: flex;
  align-items: center;
}


.journal__entry-picture img {
  width: 100%;
  height: auto;
  object-fit: cover !important;

}




.journal__entry-picture {
  display: flex;
  align-items: center;
  justify-content: center;

}




  // .journal__body-entry {
  //     // width: 80%;
  // }

.journal__entry-title {
    font-size: 15px;
    font-weight: bold;
}

.journal__entry-body {
    font-size: 14px;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

.journal__entry-date-box span{
    font-size: 12px;
}

.journal__body-entry {
    display: flex;
    justify-content: center;
}

.journal__btn{
    background: rgb(59, 171, 236);
    display: block;
    height: 100px;
    width: 50px;
    border: none;
}


header {
    display: flex;
    justify-content: space-around;
  }
  
  .nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    color: #fff;
  }
  
  .nav.open {
    left: 0;
  }
  
  .nav a {
    padding: 1rem;
  }
  
  .hamburger {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5em 1em;
    background: #ea42ff;
    border: none;
    border-radius: 10%;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
    z-index: 1000;
  }
  
  .btn-box {
    cursor: pointer;

    position: fixed;
    background: none;
    transform: translateY(85vh) translatex(90vw);


}


.menu-icon {
    border: 3px solid #F29216;
    height: 40px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    transform: translateY(40vh);
    transition: all 200ms ease-out;
    width: 40px;
  }
  .menu-icon:after, .menu-icon:before {
    background-color: #F29216;
    content: "";
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transition: all 400ms cubic-bezier(0.25, 0.6, 0.36, 1);
    position: absolute;
    top: 50%;
    width: 25px;
  }
  .menu-icon > .line {
    background: #F29216;
    height: 1px;
    position: absolute;
    transition: all 0.1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    width: 0%;
  }
  .menu-icon > .line.top {
    left: 0;
    top: 0;
    transition-delay: 0.3s;
  }
  .menu-icon > .line.bottom {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    transition-delay: 0.1s;
  }
  .menu-icon > .line.left {
    left: 0;
    top: 0;
    transform: translate3d(0, 40px, 0) rotate(-90deg);
    transform-origin: 0;
    transition-delay: 0s;
  }
  .menu-icon > .line.right {
    left: 0;
    top: 0;
    transform: translate3d(40px, 0, 0) rotate(90deg);
    transform-origin: 0;
    transition-delay: 0.2s;
  }
  .menu-icon:before {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transition-delay: 65ms;
  }
  .menu-icon:hover .line {
    width: 100%;
  }
  .menu-icon:hover .line.top {
    transition-delay: 0ms;
  }
  .menu-icon:hover .line.right {
    transition-delay: 0.1s;
  }
  .menu-icon:hover .line.bottom {
    transition-delay: 0.2s;
  }
  .menu-icon:hover .line.left {
    transition-delay: 0.3s;
  }
  .menu-icon:hover:after {
    transform: translate3d(-50%, -50%, 0) rotate(225deg);
  }
  .menu-icon:hover:before {
    transform: translate3d(-50%, -50%, 0) rotate(135deg);
  }
  .menu-icon:active {
    opacity: 0.8;
    transition: none;
  }


  
  
  
  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  z-index: -3;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



